@import compass/reset
@import compass/css3/flexbox

//
// Layout
//

=large
  @media (min-width: 600px)
    @content

.feature
  +align-items(center)
  +display-flex
  +flex(1)
  +flex-direction(column)
  +justify-content(center)

.meta
  +align-items(center)
  +display-flex
  +flex-direction(column)
  background-color: rgba(black, 0.05)

.page
  +align-items(stretch)
  +display-flex
  +flex-direction(column)
  +justify-content(stretch)
  background-color: white
  min-height: 100vh

.text
  max-width: 40rem

//
// Typography
//

$whitespace: 1em

a
  color: #249FFF

body
  color: rgba(black, 0.8)
  font-family: "Crimson Text", "Georgia", "Cambria", "Times New Roman", "Times", serif
  line-height: 1.5
  font-size: 14pt

  +large
    font-size: 18pt

dl, p
  margin-bottom: $whitespace

em
  font-style: italic

.main
  +large
    padding: $whitespace * 2

.memo-heading
  $left-column: 3em

  margin-bottom: $whitespace * 2

  dt
    clear: left
    float: left
    min-width: $left-column - 0.5em

  dd
    margin-left: $left-column

  dt
    font-variant: small-caps
    text-transform: lowercase

    &:after
      content: ':'

.meta
  font-style: italic

.text
  padding: $whitespace $whitespace 0 $whitespace
